html, body {
    margin: 0;
    padding: 0;
    
    height: 100%;
    width: 100%;
}
  
body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Open Sans', sans-serif;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sausage, #money {
    margin: 8px 0;
    font-size: xx-large;
    font-weight: bold;
}

#sausage {
    margin-top: auto;
}

#updated {
    font-size: large;
    margin-top: auto;
    margin-bottom: 4px;
}

#next {
    margin-top: 4px;
    font-size: large;
}